{% extends 'detailpage.html' %}

{% block header %}

<h1 class="property__title">{{author.name}}</h1>

<div class="property__plan">
    <dl class="property__plan-item">
        <dt class="property__plan-icon">
           <i class="fa fa-file-text" aria-hidden="true"></i>
        </dt>
        <dd class="property__plan-title">Pagerank</dd>
        <dd class="property__plan-value">{{author.pagerank}}</dd>
    </dl>
    <dl class="property__plan-item">
        <dt class="property__plan-icon">
            <i class="fa fa-header" aria-hidden="true"></i>
        </dt>
        <dd class="property__plan-title">H-index</dd>
        <dd class="property__plan-value">{{author.h_index}}</dd>
    </dl>
</div>

{% endblock %}

{% block details %}


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Publications</a></li>
    <li><a data-toggle="tab" href="#menu1">Suggested authors</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <table class="table" style="width:100%" id="publications">
            <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            {% for publication in author.papers.all %}
            <tr>
                <td><a href="/paper/{{publication.id}}">{{publication.title}}</a></td>
                <td><a href="/year/{{publication.year}}">{{publication.year}}</a></td>
                <td><a href="http://papers.nips.cc/paper/{{publication.pdf_name}}">Click here</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="menu1" class="tab-pane fade">
        <table class="table" style="width:100%" id="similarAuthors">
            <thead>
            <tr>
                <th>Name</th>
                <th>Similarity</th>
            </tr>
            </thead>
            <tbody>
            {% for sa in author.suggested_authors.all %}
            <tr>
                <td><a href="/author/{{sa.suggested_author.id}}">{{sa.suggested_author.name}}</a></td>
                <td>{{sa.similarity|floatformat:4}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function(){
        $('#publications').DataTable();
        $('#similarAuthors').DataTable();
    });

</script>

{% endblock %}
