{% extends 'detailpage.html' %}

{% block header %}

<h1 class="property__title">Topic: {{topic.name}}</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

<div id="visualization"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<script type="text/javascript">
    var container = document.getElementById('visualization');
      var items = [
      {% for evolution in topic.evolution.all %}
        {x: '{{evolution.year}}', y: {{evolution.score}}},
        {% endfor %}
      ];

  var dataset = new vis.DataSet(items);
  var options = {
    start: items[0].x,
    end: items[items.length-1].x
  };
  var graph2d = new vis.Graph2d(container, dataset, options);
</script>

{% endblock %}

{% block details %}

    <table class="table" style="width:100%" id="papers">
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for paper in topic.topics_for.all %}
                <tr>
                    <td>
                        {% for author in paper.paper.authors.all %}
                            <a href="/author/{{author.id}}">
                                <span class="properties__address-city">{{author.name}}</span>
                            </a>
                        {% endfor %}
                    </td>
                    <td><a href="/paper/{{paper.paper.id}}">{{paper.paper.title}}</a></td>
                    <td><a href="/year/{{paper.paper.year}}">{{paper.paper.year}}</a></td>
                    <td><a href="http://papers.nips.cc/paper/{{paper.paper.pdf_name}}">Click here</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<script>
    $(document).ready(function(){
        $('#papers').DataTable();
    });
</script>

{% endblock %}

