{% extends 'detailpage.html' %}

{% block header %}

<h1 class="property__title">Topic: {{topic.name}}</h1>

<img src="/static/papers/img/topic_figures/Figure_{{topic.id}}.png" alt="Topic evolution">

{% endblock %}

{% block details %}

    <table class="table" style="width:100%" id="papers">
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for paper in topic.topics_for.all %}
                <tr>
                    <td>
                        {% for author in paper.paper.authors.all %}
                            <a href="/author/{{author.id}}">
                                <span class="properties__address-city">{{author.name}}</span>
                            </a>
                        {% endfor %}
                    </td>
                    <td><a href="/paper/{{paper.paper.id}}">{{paper.paper.title}}</a></td>
                    <td><a href="/year/{{paper.paper.year}}">{{paper.paper.year}}</a></td>
                    <td><a href="http://papers.nips.cc/paper/{{paper.paper.pdf_name}}">Click here</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<script>
    $(document).ready(function(){
        $('#papers').DataTable();
    });
</script>

{% endblock %}

