# To update all the packages listed in this document
# install pip-tools and run the following command:
# pip-compile -U requirements.txt
gensim==3.0.1
nltk==3.2.5
django==1.11.6
whoosh==2.7.4
tqdm==4.19.4
regex==2017.09.23
psutil==5.4.1
networkx==2.0
matplotlib==2.1.0
sklearn==0.0
urllib3==1.22