<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

    <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>

Dit is de auteur
{{author.name}}

<div id="mynetwork"></div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<script type="text/javascript">
    // create an array with nodes
    var nodes = new vis.DataSet([
        {id: 1, label: '{{author.name}}'},
        {% for sa in author.suggested_authors.all %}
            {id: {{sa.suggested_author.id}}, label: '{{sa.suggested_author.name}}'},
        {% endfor %}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
        {% for sa in author.suggested_authors.all %}
            {from: 1, to: {{sa.suggested_author.id}}},
        {% endfor %}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>

</html>