<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/papers/css/bootstrap.css">
</head>
<body>
<div class="container-fluid">
    <div class="row" style="height: 10vh;">
        <div class="col" id="status-msg-container">
        </div>
    </div>
    <div class="row justify-content-center" syle="height: 20vh;">
        <span style="color: blue; font-size: 72pt; font-family: times;">G</span>
        <span style="color: red; font-size: 72pt; font-family: times;">R</span>
        <span style="color: orange; font-size: 72pt; font-family: times;">O</span>
        <span style="color: blue; font-size: 72pt; font-family: times;">U</span>
        <span style="color: green; font-size: 72pt; font-family: times;">P</span>
        &nbsp;
        <span style="color: red; font-size: 72pt; font-family: times;">1</span>
        <span style="color: blue; font-size: 72pt; font-family: times;">0</span>
    </div>
    <div class="row justify-content-center">

        <div class="row">
            {% block stats %} {% endblock %}
        </div>

        <div class="col-12 col-lg-8">
            <form id="search-form" method="post" action="/papers/search">
                {% csrf_token %}
                <div class="input-group input-group-lg pb-5">
                    <input id="search-input" name="q" class="form-control" type="text" value="{{ query }}" autofocus
                           autocomplete="off">
                    <span class="input-group-btn">
                <input id="search-btn" class="btn btn-primary" type="submit" value="Search">
              </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <!-- Results -->
            <div class="list-group list-group-active" id="result-container">
                {% block results %} {% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<!--<script src="js/client.js"></script>-->
</body>
</html>