<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">

</head>
<body>

<div id="visualization"></div>


</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>

<script type="text/javascript">
    var container = document.getElementById('visualization');
      var items = [
      {% for evolution in topic.evolution.all %}
        {x: '{{evolution.year}}', y: {{evolution.score}}},
        {% endfor %}
      ];

  var dataset = new vis.DataSet(items);
  var options = {
    start: items[0].x,
    end: items[items.length-1].x
  };
  var graph2d = new vis.Graph2d(container, dataset, options);
</script>

</html>